$elang: rgba(79, 110, 253);
$elangHover: rgb(70, 100, 234);
$elangActive: rgb(58, 83, 194);
$elang03: rgba(79, 110, 253, 0.3);
$elang02: rgba(79, 110, 253, 0.2);
$elang01: rgba(79, 110, 253, 0.1);

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  user-select: none;
  color: #00000000;
  width: 50px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  border-radius: 100px;
  position: relative;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

label:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s
}

label:before {
  content: 'Off';
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  color: gray;
  z-index: 9999;
  top: -6px;
  left: -5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation-duration: 1s;
  animation-delay: 0.5s;
  // animation-name: slidein;
}

input:checked+label::before {
  content: 'On';
  color: $elang;
  left: calc(100%);
  transform: translateX(-100%);
}

input:checked+label {
  background: $elang;
}

input:checked+label:after {
  left: calc(100%);
  transform: translateX(-100%);

}

label:active:after {
  width: 100%;
}

@keyframes slidein {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}