$elang: #FE6100;

$fontIter: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$elangHover: rgb(254, 97, 0);
$elangActive: rgb(254, 97, 0);
$elang03: rgba(254, 97, 0, 0.3);
$elang02: rgba(254, 97, 0, 0.2);
$elang01: rgba(254, 97, 0, 0.1);
$elangBlack01: #212121;
$elangGrey01: #E0E0E0;
$elangGrey02: #666;

$elangAccent: rgba(254, 97, 0, 0.3);;

.SelectedContainer {
  background-color: $elang02;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: -1px 5px 10px 3px $elang02;
  border: 1px solid $elang03;
}

.SelectedContainerText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  pointer-events: 'auto';
  background-color: #FFF;
  filter: drop-shadow(0px 5px 1.3px rgba(0, 0, 0, 0.25)) drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
  border-radius: 7px;
}
.SelectedContainerText:after {
  content: ""; 
	border: solid transparent;
	position: absolute;    
  top: 50%;
	right: 100%;
	border-right-color: #FFF;
	border-width: 12px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  margin-top: 10px;
}

.labelTextArea{
  color: $elangBlack01;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}

.labelTextAreaSecond{
  color: $elangBlack01;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textArea{
  width: 314px;
  height: 81px;
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  resize: none;
  border-radius: 12px;
  border: 1px solid  $elangGrey01;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.ButtonCopy {
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding-bottom: 4px;
  color: $elang;
  text-align: center;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ContainerLabelButton{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.ButtonGenerate {
  cursor: pointer;
  border: none;
  display: flex;
  width: 332px;
  height: 44px;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  background: $elang; 
  margin-top: 16px;

  color: #FFF;
  text-align: center;
  font-family: $fontIter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ButtonGenerate:disabled,
.ButtonGenerate[disabled]{
  cursor: default;
  background: linear-gradient(0deg, rgba(254, 97, 0, 0.40) 0%, rgba(254, 97, 0, 0.40) 100%), #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.Loader {
  width: 24px;
  height: 24px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.CloseButton {
  pointer-events: all;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.MessageCopy{
  cursor: default;
  border: none;
  display: inline-flex;
  padding: 13px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  background: $elang;

  color: #FFF;
  text-align: center;
  font-family: $fontIter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.MessageCopyParsing{
  cursor: default;
  border: none;
  display: inline-flex;
  padding: 13px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  background: $elang;
  min-width: 330px;

  color: #FFF;
  text-align: center;
  font-family: $fontIter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.TranslateButton {
  cursor: pointer;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  background-color: $elang;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $elangHover;
  }

  &:active {
    background-color: $elangActive;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.SaveButton {
  cursor: pointer;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  background-color: $elang;
  border-radius: 7px;

  &:hover {
    background-color: $elangHover;
  }

  &:active {
    background-color: $elangActive;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.lds-dual-ring {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring:after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

ul.nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 16px;
}
 
ul.nav li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  color: $elangGrey02;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
  letter-spacing: 0.1px;
}
 
ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
 
ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
 
ul.nav li:hover {
  text-decoration-line: underline;
}
 
ul.nav li.active {
  cursor: default;
  color: $elang;
  text-decoration-line: underline;
}

.btnReset {
  border: none;
  background-color: inherit;
  font-size: 14px;
  font-weight: 400;
  font-family: $fontIter;
  cursor: pointer;
  display: inline-block;
  color: $elangGrey02;
  &:hover {
    color: $elang;
  }
}

.container {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  min-width: 280px;
  margin-left: calc(100%);
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
  color: $elangGrey02;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textAreaPromt{
  width: 314px;
  height: 390px;
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  resize: none;
  border-radius: 12px;
  border: 1px solid  $elangGrey01;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}