$elang: #FE6100;

$fontIter: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$elangHover: rgb(254, 97, 0);
$elangActive: rgb(254, 97, 0);
$elang03: rgba(254, 97, 0, 0.3);
$elang02: rgba(254, 97, 0, 0.2);
$elang01: rgba(254, 97, 0, 0.1);
$elangBlack01: #212121;
$elangGrey01: #E0E0E0;

$elangAccent: rgba(254, 97, 0, 0.3);;

.SelectedContainer {
  background-color: $elang02;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  box-shadow: -1px 5px 10px 3px $elang02;
  border: 1px solid $elang03;
}

.SelectedContainerText{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  pointer-events: 'auto';
  background-color: #FFF;
  filter: drop-shadow(0px 5px 1.3px rgba(0, 0, 0, 0.25)) drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.25));
  height: 100%;
  border-radius: 7px;
}
.SelectedContainerText:after {
  content: ""; 
	border: solid transparent;
	position: absolute;    
  top: 50%;
	right: 100%;
	border-right-color: #FFF;
	border-width: 12px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.headerLabel{ 
  margin: 0;
  color: $elangBlack01;
  font-family: $fontIter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.labelTextArea{
  color: $elangBlack01;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 4px;
}

.textArea{
  width: 314px;
  height: 81px;
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  resize: none;
  border-radius: 12px;
  border: 1px solid  $elangGrey01;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.ButtonsContainer {
  margin-top: -10px;
  width: 97%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ButtonCopy {
  cursor: pointer;
  pointer-events: all;
  border: none;

  display: inline-flex;
  height: 44px;
  padding: 13px 12px;
  justify-content: center;
  align-items: center;

  color: #FFF;
  text-align: center;
  font-family: $fontIter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 34px;
  background: $elang;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

// .SpeachButton:hover {
//   background-color: $elangHover;
// }

.ButtonGenerate {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  height: auto;
  display: flex;
  width: 332px;
  height: 44px;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  background: $elang; 
  margin-top: 16px;

  color: #FFF;
  text-align: center;
  font-family: $fontIter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.CloseButton {
  pointer-events: all;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  // height: 22px;
  // position: absolute;
  // right: -13px;
  // top: -13px;
  // box-shadow: -1px 5px 10px 3px $elang03;
  // border-radius: 100%;
  // background-color: $elang;

  // &:hover {
  //   background-color: $elangHover;
  // }

  // &:active {
  //   background-color: $elangActive;
  // }

  // svg {
  //   fill: $elang;
  //   scale: 1;

  //   &:hover {
  //     fill: $elangHover;
  //   }

  //   &:active {
  //     fill: $elangActive;
  //   }
  // }
}

.TranslateButton {
  cursor: pointer;
  background: none;
  border: none;
  // padding: 0;
  height: 30px;
  width: 30px;
  background-color: $elang;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $elangHover;
  }

  &:active {
    background-color: $elangActive;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.SaveButton {
  cursor: pointer;
  background: none;
  border: none;
  // padding: 0;
  height: 30px;
  width: 30px;
  background-color: $elang;
  border-radius: 7px;

  &:hover {
    background-color: $elangHover;
  }

  &:active {
    background-color: $elangActive;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.lds-dual-ring {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring:after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}