$elang: #FE6100;

$fontIter: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$elangHover: rgb(254, 97, 0);
$elangActive: rgb(254, 97, 0);
$elang03: rgba(254, 97, 0, 0.3);
$elang02: rgba(254, 97, 0, 0.2);
$elang01: rgba(254, 97, 0, 0.1);
$elangAccent: rgba(254, 97, 0, 0.3);

.App{
  padding: 16px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .LogoTitle {
    display: flex;
    flex-direction: column;

    .Title {
      color: $elang;
      font-size: 24px;
      font-family: $fontIter;
      font-weight: 600;
      line-height: 32px; 
      letter-spacing: 0.1px;
      span{
        font-style: italic;
      }
    }

  }

}

.SectionData {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;

  div{
    display: flex;
    width: 332px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    p{ 
      color: #212121;
      font-family: $fontIter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-bottom: 4px;
      margin: 0;
    }

    input{
      font-family: $fontIter;
      color: #212121;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */

      display: flex;
      padding: 12px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 12px;
      border: 1px solid #E0E0E0;
    }
  }
}

.SaveButton{ 
  cursor: pointer;
  pointer-events: all;
  border: none;
  width: 100%;
  display: inline-flex;
  height: 44px;
  padding: 13px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #FFF;
  text-align: center;
  font-family: $fontIter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 34px;
  background: $elang;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.TextVisible{
  color:  #9E9E9E;
  font-family: $fontIter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  padding-left: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.Loader {
  width: 24px;
  height: 24px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 