$elang: #FE6100;

$elangHover: rgb(254, 97, 0);
$elangActive: rgb(254, 97, 0);
$elang03: rgba(254, 97, 0, 0.3);
$elang02: rgba(254, 97, 0, 0.2);
$elang01: rgba(254, 97, 0, 0.1);
$elangAccent: rgba(254, 97, 0, 0.3);;


.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .LogoTitle {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .Title {
      font-size: 26px;
      font-weight: 700;
      color: $elang;
    }

    .Subtitle {
      font-size: 18px;
      font-weight: 400;
      color: $elang;
    }
  }

}